@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    font-family: 'Kanit', sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}

body {
    background: rgb(1, 4, 9);
}

.content {
    margin-top:52px;
    min-height: calc(100vh - 52px);
}

iframe {
    border: none;
    height: calc(100vh - 52px);
    width: 100%;
}

.secondnavbar {
    margin-left: 200px;
}

.content * {
    margin: 0px 10px;
}

.center {
    display: flex;
    justify-content: center;
}

.inline {
    display: inline-block;
}

.browser {
    margin: 0;
    overflow-y: auto;
    height: calc(100% - 50px);
    position: fixed;
    background-color: rgb(13, 17, 23);
    top: 0;
    width: 200px;
    max-width:250px;
    display: inline;
    float: left;
    margin-top: 52px;
    font-size:20px;
}

.gamelink {
    margin-top: 10px;
    margin-left: 7px;
    min-height: 40px;
    height: fit-content;
    width: 95%;
    text-align: center;
    line-height: 39px;
    border-radius: 12px;
}

.gamelink:hover {
    background-color: rgba(23, 27, 32, 0.5);
    cursor: pointer;
}

.nounderline {
    text-decoration:none;
}

.navbar {
    position: fixed;
    top: 0;
    height: 52px;
    overflow: hidden;
    width: 100%;
    background-color: rgb(22, 27, 34);
    display: inline;
    z-index: 9;
}

.navbar .img {
    float: left;
    width:36px;
    margin: 8px 12px;
    display: block;
}

.navbar .p {
    margin: 2px 0px;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    float: right;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
}

.navbar p:hover {
    color:rgb(126, 255, 255)
}

.navbar img:hover {
    transform: scale(1.2);
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
}
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.news {
    background-color: rgb(13, 17, 23);
    border: 3px solid;
    border-color: rgb(22, 27, 34);
    border-radius: 8px;
    margin: auto;
    max-width: 750px;
    font-family: fixedsys;
    text-align: center;
    line-height: 30px;
}

.news * {
    font-family: fixedsys;
    font-weight: normal;
}

.news .date {
    margin-right: 7px;
    text-decoration: underline;
    text-decoration-color: cornflowerblue;
    color: cornflowerblue;
    font-family: fixedsys;
}