* {
    transition: all 0.25s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(1, 4, 9);
}

.content {
    color: white;
}

p {
    line-height: 5px;
}

.inline {
    margin: 0;
    padding: 0;
    display: inline-block;
}